/* ABOUT SECTION */
.about {
  max-width: 1000px;
  height: 600px;
  margin: 0 auto 50px auto;
  flex-direction: column;
  justify-content: space-around;
}

.about__text {
  padding: 50px;
}

.about__cta-button {
  background-color: var(--accent);
  color: var(--primary-color);
  font-weight: 700;
  margin-left: 50px;
  padding: 10px 20px;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .about {
    min-width: none;
    height: auto;
  }

  .about__cta-button {
    display: flex;
    margin-top: 20px;
    margin-left: 0;
  }
}