/* NAVBAR STYLES */
.navbar {
  width: 100%;
  font-size: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 100px;
  padding-block: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;

  animation: enhance-navbar linear both;
  animation-timeline: scroll(root);
  animation-range: 20px 300px;

}

@keyframes enhance-navbar {
  to {
    background-color: rgba(238, 238, 238, 0.3);
    backdrop-filter: blur(10px);
    color: var(--primary-color);
    padding-block: 1.5rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 1rem 0;
    justify-content: center;
  }
}